Flask==0.9
Flask-SQLAlchemy==0.16
Jinja2==2.6
MySQL-python==1.2.4c1
Pygments==1.5
SQLAlchemy==0.8.0b2
Werkzeug==0.8.3
gunicorn==0.17.0
paypal==1.2.0
pycrypto==2.6
redis==2.7.2
requests==1.0.4
wsgiref==0.1.2
