{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for cls, message in messages %}
            <li class="{{ cls }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="register" method="post">
    <input type="text" name="username"><br />
    <input type="password" name="password"><br />
    <input type="submit" value="Go &raquo;">
</form>

{% endblock %}
